---
layout: default
title: "Hai-Nguyen Nguyen: Research"
redirect_from: "/talks"
header_title: Aerial Manipulation
header_quote: Robotics is the science of perceiving and manipulating the physical world through computer-controlled devices. (Probabilistic Robotics)
include_header: header-h1.html
nav_item: research
---

{% for proj in site.data.research %}
  <div class="border-bottom border-light-gray mt4 mb4 pb3 circle-line">
    <a href="{{ proj.links | map: 'url' | first }}" target="_blank" name="{{ proj.name | downcase | replace:' ','-' | remove:',' }}">
      <h3>{{ proj.name }}</h3>
    </a> 
    <p>
      {{ proj.description }}
    </p>
    {% if proj.embed_url %}
    {% include iframe.html url=proj.embed_url %}
    {% endif %}
    {% if proj.publications %} 
    <h4>Publications</h4>
     <div>
      {% for pub in proj.publications %}
      <p>
        {{ pub.author }} "<a href="{% if pub.url %} {{ pub.url}} {% else %} {{ pub.links | map: 'url' | first }}{% endif %}" target="_blank" name="{{ pub.name | downcase | replace:' ','-' | remove:',' }}"><i>{{ pub.title }}</i></a>", 
        {% if pub.journal %} {{ pub.journal }},{% endif %} 
        {% if pub.conference %} {{ pub.conference }},{% endif %}
        {% if pub.volume %} {{ pub.volume }},{% endif %}
        {% if pub.page %} {{ pub.page }},{% endif %}
        {% if pub.year %} {{ pub.year }}{% endif %}.
        {% if pub.note %} ({{ pub.note }}){% endif %}
        <br>
        {% for link in pub.links %}
       <small> [<a href="{{ link.url }}" target="_blank">{{ link.label }}</a>]
       </small>
       {% unless forloop.last %} {% endunless %}
      {% endfor %}
      </p>
      {% endfor %}
     </div>
    {% endif %} 
  </div>
{% endfor %}