<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>

  <p>My name is Hai-Nguyen Nguyen, <b>Hann</b> for short. </p>

  <p>
  I am currently a Ph.D. candidate in Robotics at <a href="{{ site.snu }}">Seoul National University</a>, Korea. Before that, I was a permanent researcher at <a href="{{ site.vast }}">Vietnam Academy Of Science And Technology</a>, Vietnam.</p>

<p>My current research interests include
    dynamics and controls problems related to aerial manipulation. Please see <a href="{{ site.nav.main.cv }}">my CV</a> or <a href="{{ site.nav.main.research }}">my research</a> for more details.</p>

  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
