---
layout: default
title: "Hai-Nguyen Nguyen: Events, Conferences"
header_title: Upcoming events
header_quote: to communicate your research
include_header: header-h1.html
nav_item: events
---

{% for event in site.data.events %}
  <div class="mxn2 clearfix mb2 border-bottom border-light-gray circle-line py3">
    <div class="col sm-col-4 px2 mb2">
      <a href="{{ event.url }}" target="_blank">
        {% capture image_path %}events/{{ event.image }}{% endcapture %}
        {% include image.html path=image_path alt=event.name %}
      </a>
    </div>
    <div class="col sm-col-8 px2">
      <a href="{{ event.url }}" target="_blank" name="{{ event.name | downcase | replace:' ','-' | remove:',' }}">
        <h2 class="mt0 mb0">{{ event.name }}</h2>
      </a>
      <a href="{{ event.url }}" target="_blank" class="block h6 mb2">{{ event.date }}, {{ event.location }}</a>
      <p class="left-align">
        {% if event.submission %}
         Deadline: <b> {{ event.submission }} </b> <br>
        {% endif %}

        {% if event.notification %}
        Notification: {{ event.notification }} <br>
        {% endif %}

        {% if event.final %}
        Final: {{ event.final }} <br>
        {% endif %}
      </p>
      {% if event.description %}
      <p class="left-align">{{ event.description }}</p>
      {% endif %}
    </div>
  </div>
{% endfor %}